<div class="container">
  <h3 class="text-center font-weight-bold mt-4 mb-4">球場飯一覧</h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <!-- テーブルのヘッダー部分 -->
      <thead class="thead-light text-center">
        <tr>
          <th>ID</th>
          <th>投稿者</th>
          <th>画像</th>
          <th>商品名</th>
          <th>価格</th>
          <th>評価</th>
          <th>投稿日時</th>
        </tr>
      </thead>

      <!-- テーブルのデータ部分 -->
      <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td class="text-center"><%= review.id %></td>
      <td class="text-center">
        <%= link_to review.customer.nick_name, admin_customer_path(review.customer) %>
      </td>
      <td class="text-center">
        <% if review.image.attached? %>
          <%= link_to(image_tag(review.image, size: "100x100"), review_path(review)) %>
        <% end %>
      </td>
      <td class="text-center">
        <%= link_to(review.name, review_path(review)) %>
      </td>
      <td class="text-center"><%= number_with_delimiter(review.price) %>円</td>
      <td class="text-center"><%= star_rating(review.rating) %></td>
      <td class="text-center"><%= review.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
    </tr>
  <% end %>
</tbody>


    </table>
  </div>
</div>

