<div class="container">
  <h3 class="text-center">球場飯一覧</h3>

  <table class="table">
    <!-- テーブルのヘッダー部分 -->
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>画像</th>
        <th>商品名</th>
        <th>価格</th>
        <th>評価</th>
        <th>感想</th>
        <th>投稿日時</th>
      </tr>
    </thead>

    <!-- テーブルのデータ部分 -->
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td class="text-center"><%= review.id %></td>
          <td class="text-center"><%= image_tag review.image, size: "100x100" if review.image.attached? %></td>
          <td class="text-center"><%= review.name %></td>
          <td class="text-center"><%= review.price %></td>
          <td class="text-center"><%= star_rating(review.rating) %></td>
          <td class="text-center"><%= review.thought %></td>
          <td class="text-center"><%= review.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
