<div class="container">
  <div class="row justify-content-end">
    <div class="col-auto">
      <form class="mt-3">
        <div class="form-row">
          <div class="col-auto">
            <div class="form-group">
              <select name="rating" class="form-control mb-2">
                <option value="">評価を選択</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <select name="price" class="form-control mb-2">
                <option value="">金額を選択</option>
                <option value="1">~999</option>
                <option value="2">1000~1999</option>
                <option value="3">2000~2999</option>
                <option value="4">3000~</option>
              </select>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <input class="form-control" type="search" name="search" placeholder="レビューを検索">
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-success" type="submit">検索</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <%= render 'public/list', ballpark: @ballpark %>
    </div>
    <div class="col-md-9">
      <h3 class="mt-5">
        <strong>
          <%= link_to "球場飯一覧", reviews_path, style: "color: black;", data: { nickname: nil } %>
        </strong>
      </h3>
      <div class="row">
        <% @reviews.each do |review| %>
        <div class="col-md-12 mb-5 review-item">
          <div class="row">
            <div class="col-md-4">
              <% if review.image.attached? %>
              <%= link_to(image_tag(review.image, class: "index-img"), review_path(review), class: "d-block") %>
              <% else %>
              <%= link_to(image_tag('no_image', size: "200x200"), review_path(review), class: "d-block") %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div>
                <%= link_to review_path(review) do %>
                <span class="font-weight-bold" style="font-size: 1.5rem;">
                  <%= review.name %>
                </span>
                <% end %>
              </div>
              <div class="mt-3">
                <% if review.customer.id == 1 %>
                <strong>投稿者:</strong>
                <%= link_to "#{review.customer.nick_name}", reviews_path(customer_id: review.customer.id) %>
                <% elsif review.customer.present? %>
                <p>
                <strong>投稿者:</strong>
                <%= link_to "#{review.customer.nick_name}さん", reviews_path(customer_id: review.customer.id) %>
                <% end %>
              </div>
              <div class="mt-3">
                <strong>球場名:</strong>
                <span class="font-weight-bold">
                  <%= review.ballpark.name %>
                </span>
              </div>
              <div class="mt-3">
                <strong>価格:</strong>
                <span class="font-weight-bold">
                  <%= number_with_delimiter(review.price) %>円
                </span>
              </div>
              <div class="mt-3">
                <strong>評価:</strong>
                <span class="font-weight-bold mb">
                  <%= star_rating(review.rating) %>
                </span>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <div class="container d-flex justify-content-center mt-4">
          <%= paginate @reviews %>
        </div>
      </div>
    </div>
  </div>
</div>