<h3><%= @review.name %></h3>

<div>
  <%= image_tag @review.image, size: "400x400" if @review.image.attached? %>
</div>

<div>
  <p><%= @review.price %>円</p>
  <p><%= star_rating(@review.rating) %></p>
  <p><%= @review.thought %></p>
  <p><%= @review.customer.nick_name %>さんのレビュー</p>
  <p><%= @review.created_at.strftime("%Y/%m/%d %H:%M:%S") %>に投稿</p>
</div>
<%= link_to "レビューを編集", edit_review_path %>
<%= link_to "レビューを削除", @review, method: :delete, "data-confirm" => "本当に削除しますか？" %>
