<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <nav class="sidebar-sticky">
        <ul class="nav flex-column">
          <h4 class="mt-5">球場一覧</h4>
          <% @ballparks.each do |ballpark| %>
            <li class="nav-item mt-3">
              <%= ballpark.name %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="col-md-5 mt-5">
      <%= image_tag @review.image, size: "400x400", class: "img-fluid" if @review.image.attached? %>
    </div>

    <div class="col-md-5 mt-5">
      <div>
        <p><strong>投稿者</strong>: <%= @review.customer.nick_name %></p>
        <p><strong>投稿日時</strong>: <%= @review.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
        <p><strong>価格</strong>: <%= @review.price %>円</p>
        <p><strong>評価</strong>: <%= star_rating(@review.rating) %></p>
      </div>
     </div>

      <div class="col-md-5 mt-3">
        <h5>レビュー内容</h5>
        <p><%= @review.thought %></p>
      </div>
      <div>
        <%= button_to "編集", edit_review_path, class: "btn btn-primary mt-3" %>
        <%= button_to "削除", @review, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger mt-3" %>
      </div>

  </div>
</div>
